<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <h2>Add/Invite Users</h2>
        </div>
        <form [formGroup]="addGroupNewMembersForm" (ngSubmit)="addGroupMembers(addGroupNewMembersForm)">
            <div class="form-group">
                <ng-select [ngClass]="{ 'is-invalid': submitted && f.userEmail.errors }" 
                    [items]="newMembers" formControlName="userEmail"   bindValue="userEmail" bindLabel="userEmail" placeholder="Select Users and add Users"
                    multiple="true" [addTag]="true" [searchable]="true" [clearable]="true">
                    <ng-template ng-header-tmp>
                        <div>
                            <button mat-button color="primary"  (click)="onSelectAll()">Select All</button>
                            <button mat-button color="primary" (click)="onClearAll()">Clear All</button>
                        </div>
                    </ng-template>
                    <!-- <ng-option value="{{n.userId}}"  *ngFor="let n of newMembers">
                        <option>{{n.userName}}</option>
                    </ng-option> -->
                </ng-select>
            </div>
            <div class="box bg-1">
                <div class="form-group form-inline btnCenter">
                    <button type="submit" [disabled]="loadingBtn" disabled
                        class="btn btn-xs border btn-default mr-1 track-btn-blue">
                        Save
                    </button>
                    <button type="button" (click)="addGroupCancel()"
                        class="btn btn-xs border btn-default">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>