.modal-dialog {
  margin: 2em auto;
  text-align: center;
  border-radius: 20px;
  /* padding: 40px; */
  box-sizing: border-box;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.2), 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2);
  


}
.signin-content {
  padding: 60px 1rem;

}
.full-width-input {
  width: 100%;
}
.modal-content{
color: #37474f;
}
.header-text{
padding: 7px;
}
.header-border{
border-bottom: 3px solid #6283bb;
width: 140px;
}
.form-control::placeholder {
font-size: 0.95rem;
color: #aaa;
font-style: italic;
}